.TabGroup {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden auto;

	scrollbar-width: none;

	& :global(.TabGroupRadioSelect) {
		width: 96%;
		position: absolute;
		bottom: 1%;
		right: 2%;
	}
}

.TabContent {
	width: 100%;
	position: relative;
}
