.TabGroup {
	height: 95%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden auto;

	> * {
		padding: 0 var(--size-md) var(--size-md) var(--size-md);
	}

	> [class*='RadioSelect'] {
		width: 96%;
		position: absolute;
		bottom: 1%;
		right: 2%;
	}

	* svg {
		fill: white;
	}
}

.TabContent {
	width: 100%;
	position: relative;
}
