.TabGroup {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	overflow: auto;
	background: var(--color-white);
}

.TabNavigation {
	width: 100%;

	position: absolute;
	bottom: 0;

	> *[class*="RadioSelect"] {
		width: 100%;
	}
}

.TabContent {
	width: 100%;
	position: relative;
}
