.DropdownSelect {
	text-align: center;
	width: max-content;
}

.DropdownSelect_Options {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--size-sm);
}
