.KeywordValue {
	&[data-type='radio'] {
		overflow: hidden;
		min-width: 25px;

		[class*='RadioSelect'] {
			width: 100%;
			max-width: max-content;
		}
	}

	&[data-type='dropdown'] {
		[class*='DropdownReveal'] {
			width: 100%;
			max-width: max-content;
			min-width: 40px;
		}
	}
}
