.Dimension {
	position: relative;

	:global(.DimensionInput) {
		width: 100%;
		padding-right: 40%;
	}

	:global(.DimensionDropdown) {
		width: 40%;
		height: 80%;
		position: absolute;
		top: 10%;
		right: 2%;
		:global(.DimensionDropdownToggle) {
			height: 100%;
			svg {
				width: 10px;
				height: 10px;
			}
		}
	}
}
