.Slots {
	display: flex;
	align-items: center;
	gap: var(--size-xs);

	[title='Select Next Slot'] {
		font-size: var(--font-size-lg);
		padding: var(--size-xs);
		min-width: auto;
		aspect-ratio: 1;
		border-radius: 50%;

		&::before,
		&::after {
			content: none;
		}
	}
}

.DropdownContainer {
	display: flex;
	flex-direction: row;
	gap: var(--size-xs);
}

.Separator {
	color: var(--color-gray);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	// display: none;
}
