@use '../../../mixins/mixins.module.scss' as inputMixins;

.RadioSelect {
	height: max-content;
	padding: var(--size-xs);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: var(--size-xs);

	@include inputMixins.components--container;
}

.RadioSelect_Option{
	text-align: center;
}
