@use '../../../mixins/mixins.module.scss' as inputMixins;

.RadioSelect {
	height: 25px;

	padding: var(--size-xs);

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--size-xs);

	position: relative;
	@include inputMixins.components--container;

	[class*='FloatReveal'] {
		display: flex;
		flex-direction: row;
		padding: var(--size-xs);
		// background-color: var(--color-gray);
	}
}
