@use '../../../mixins/mixins.module.scss' as inputMixins;

.RadioSelect {
	height: 25px;
	position: relative;
	@include inputMixins.components--container;
	@include inputMixins.components--flex-horizontal($gap: var(--size-xs), $align: center, $justify: flex-start);
	overflow: hidden;

	[class*='FloatReveal'] {
		display: flex;
		flex-direction: row;
		padding: var(--size-xs);
	}

	[class*='Option'] {
		background: transparent;
		width: 100%;
	}
}
