@use '@/src/shared/styles/mixins/mixins.module.scss' as inputMixins;

.LayoutInfo {
	@include inputMixins.components--flex-vertical($align: start, $justify: start);
	position: absolute;
	border-radius: var(--size-md);
	overflow: hidden;
	background: var(--theme-color-primary);
	box-shadow: var(--shadow-md);

	z-index: 100;
}

.Grid {
	display: grid;
	width: 100%;
	height: 100%;
	gap: 0;
	overflow: hidden;
	padding: 0 var(--size-lg);
}

.GridItem {
	display: flex;
	align-items: center;

	color: var(--color-white);
	font-size: var(--font-size-md);

	overflow: hidden;
}
