.Slot {
	width: min-content;
	overflow: hidden;
	min-width: 35px;

	&[data-is-hovered='true'] {
		min-width: auto;
		width: max-content;
		max-width: 100%;
		overflow: visible;
	}

	> * {
		min-width: 35px;
		width: auto;
	}
}
