@use '../../../../../mixins//mixins.module.scss' as inputMixins;

.BackgroundView {
	width: 100%;
	height: 100%;
	height: 100px;
	overflow: hidden;

	padding: 5px;

	position: relative;

	background: var(--color-black--lighter);
	@include inputMixins.components--container($background: false);
}
