@use '@/src/shared/styles/mixins/mixins.module.scss' as inputMixins;


.PageEditor {
	width: 100%;
	height: 100%;
}

.PageEditor__Actions {
	height: 40px;
	width: 100%;

	top: 0;
	left: 0;

	z-index: 1;

	@include inputMixins.components--container($radius: 0, $background: var(--theme-color-primary), $shadow: none);
	@include inputMixins.components--flex-horizontal($align: center);
	position: fixed;
}

.PageEditor__Version {
	font-size: var(--font-size-md);
	color: var(--color-white);

	position: absolute;
	right: 1%;
	top: 50%;
	transform: translateY(-50%);
}
