@use '../../../../../mixins//mixins.module.scss' as inputMixins;


.SizeView {
	@include inputMixins.components--view();
}

.SizeView_Content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color-gray--darker);
	color: gray;
}
