@use '../../mixins/mixins.module.scss' as inputMixins;

.StyleEditor {
	height: 100%;
	width: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;

	position: relative;
	z-index: 9999;
	color:var(--color-white);

	[class*='TabGroup'] {
		> *:nth-of-type(1) {
			padding-top: var(--size-md);
		}
	}

	background: transparent;
}

.Controls {
	display: flex;
	gap: var(--size-sm);

	@include inputMixins.components--container();
	z-index: 10;
}
