.Styles {
	display: flex;
	flex-direction: column;
	background: var(--color-white);
	border: 1px solid var(--color-white--darker);

	padding-bottom: var(--size-2xl);

	*[class*='TabGroup'] {
		> *[class*='RadioSelect'] {
			width: 100%;
			position: absolute;
			bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

.Styles_Controls {
	display: flex;
	gap: var(--size-sm);

	padding: var(--size-sm);

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: var(--border-generic);
	
	background: var(--color-white);
	z-index: 10;
}
