.NumberValue {
	position: relative;
	// max-width: 50px;

	&[data-has-dropdown='true'] {
		max-width: 100px;

		[class*='GenericInput'] {
			padding-right: 40%;
		}
	}

	[class*='GenericInput'] {
		width: 100%;
	}

	[class*='DropdownReveal'] {
		width: 40%;
		height: 80%;
		position: absolute;
		top: 10%;
		right: 2%;

		[class*='Toggle'] {
			height: 100%;
			
			svg {
				width: 10px;
				height: 10px;
			}
		}
	}
}
