.NumberValue {
	position: relative;
	max-width: 50px;

	&[data-has-dropdown='true'] {
		max-width: 100px;

		[class*='GenericInput'] {
			padding-right: 40%;
		}
	}

	[class*='GenericInput'] {
		width: 100%;
	}

	[class*='DropdownReveal'] {
		width: 40%;
		position: absolute;
		right: 0;
		top: 0;

		[class*='Toggle'] {
			svg {
				width: 10px;
				height: 10px;
			}
		}
	}
}
