.StylesEditorValueKeyword {
	&[data-type='radio'] {
		overflow: hidden;
		min-width: 25px;

		:global(.KeywordRadioSelect) {
			width: 100%;
		}
	}

	&[data-type='dropdown'] {
		:global(.KeywordDropdownSelect) {
			width: 100%;
			min-width: 40px;
		}
	}
}
