@use '../../../mixins//mixins.module.scss' as inputMixins;

.FloatReveal {
	min-width: min-content;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: var(--size-md);

	position: fixed;
	z-index: 9999;

	@include inputMixins.components--container;
}

