@use '../../../mixins//mixins.module.scss' as inputMixins;

.FloatReveal {
	max-width: 250px;
	padding: var(--size-md);
	display: flex;
	flex-direction: column;
	gap: var(--size-md);

	z-index: 9999;

	@include inputMixins.components--container;
}

