@use '../../../mixins//mixins.module.scss' as inputMixins;

.FloatReveal {
	max-width: 300px;
	padding: var(--size-sm);
	display: flex;
	flex-direction: row;
	gap: var(--size-sm);

	z-index: 9999;

	@include inputMixins.components--container;

	> button {
		@include inputMixins.components--button;

		height: 100%;
		width: auto;
		aspect-ratio: 1;

		font-size: var(--font-size-sm);
	}
}

.Property_Float__Tools {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--size-sm);
}
