.property {
	display: grid;
	// align-items: center;
	grid-column: auto;
	gap: var(--size-sm);
	grid-column: var(--property-column);
	grid-row: var(--property-row);

	&:not([data-direction='column']) {
		grid-template-rows: auto;
		&[data-label] {
			grid-template-columns: 55px auto;
		}
	}

	&[data-direction='column'] {
		grid-template-columns: auto;
		// text-align: center;

		&[data-label] {
			grid-template-rows: auto auto;
		}
	}

	&[data-disabled='true'] {
		pointer-events: none;
		opacity: 0.5;
	}

	.label {
		width: 100%;
		align-self: var(--property-label--align);

		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		letter-spacing: -0.5px;
		font-size: var(--font-size-lg);
		font-weight: 500;
		font-family: 'Segoe UI';
		text-transform: capitalize;

		sup {
			text-transform: capitalize;
		}
	}
}
