@use '../../../../../mixins//mixins.module.scss' as inputMixins;
.BlocksHierarchyEntry {
	display: flex;
	flex-direction: column;

	> :global(.EntryButtonReveal) {
		gap: var(--size-md);
	}
}

.BlocksHierarchyEntry__Content {
	display: flex;
	flex-direction: column;
	gap: var(--size-md);
	padding-left: var(--size-lg);
	position: relative;

	&::after {
		content: '';
		display: block;
		width: 1px;
		height: 100%;

		position: absolute;
		left: 5px;
		top: 0%;

		background-color: var(--theme-color-primary-tint);
	}
}
