@use '@/shared/styles/mixins/mixins.module.scss' as inputMixins;

$offset: 40px;

.Workbench {
	width: 100%;
	height: calc(100% - $offset);

	display: flex;
	flex-direction: row;

	z-index: 5;
}

.Fallback {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: var(--color-white);
}

.Bench {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
}

.Toolbar {
	width: 35px;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: var(--size-md);
	z-index: 1;

	@include inputMixins.components--container($position: relative, $radius: 0, $background: var(--theme-color-primary), $shadow: none);

	border-top: 1px solid var(--theme-color-primary-tint);

	:global(.RadioSelect) {
		background: transparent !important;
		border: none !important;
		box-shadow: none !important;
	}

	.Divider {
		width: 80%;
		border-top: 1px solid var(--color-white);
		opacity: 0.2;
	}
}
