@use '@/src/shared/styles/mixins/mixins.module.scss' as inputMixins;

.RadioSelect {
	height: 25px;
	position: relative;
	@include inputMixins.components--container($radius: var(--size-sm));

	&[data-direction='horizontal'] {
		@include inputMixins.components--flex-horizontal($gap: var(--size-sm), $align: center, $justify: flex-start);
	}

	&[data-direction='vertical'] {
		@include inputMixins.components--flex-vertical($gap: var(--size-sm), $align: center, $justify: flex-start);
		height: auto;
	}

	overflow: hidden;

	> :global(.FloatReveal) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
