@use '@/src/shared/styles/mixins/mixins.module.scss' as inputMixins;

.RadioSelect {
	height: 25px;
	position: relative;
	@include inputMixins.components--container($radius: var(--size-sm));
	@include inputMixins.components--flex-horizontal($gap: var(--size-xs), $align: center, $justify: flex-start);
	overflow: hidden;

	:global(.RadioSelectFloat) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
