$variation-dashed: 1px dashed var(--theme-color-primary-tint);
$variation-solid: 1px solid var(--theme-color-primary-tint);

.HorizontalDivider {
	width: 100%;
	position: relative;

	display: grid;
	align-items: center;
	gap: var(--size-md);

	border: 0;
	outline: 0;

	font-size: calc(var(--size-lg) * 0.8);
	color: var(--theme-color-primary-tint);
	filter: brightness(1.3);

	// If no title is provided, create a dashed line
	&:not([data-title]) {
		grid-template-columns: 1fr;
		&::before {
			content: '';
			width: 100%;
			height: 0px;
			border: $variation-dashed;
		}
	}

	&:not([data-title])[data-variation='solid'] {
		&::before {
			border: $variation-solid;
		}
	}

	// If title is provided, create a title line
	&[data-title] {
		grid-template-columns: 1fr auto 1fr;

		&::after,
		&::before {
			content: '';
			width: 100%;
			height: 0px;
			border: 1px solid var(--theme-color-primary-tint);
		}
	}
}
