.DimensionValue {
	position: relative;

	> :global(.GenericInput) {
		width: 100%;
		padding-right: 40%;
	}

	> :global(.DropdownSelect) {
		width: 40%;
		height: 80%;
		position: absolute;
		top: 10%;
		right: 1.5%;
		:global(.Toggle) {
			height: 100%;
			svg {
				width: 10px;
				height: 10px;
			}
		}
	}
}
