@use '../../../../../mixins//mixins.module.scss' as inputMixins;

$padding_color: var(--color-success);
$margin_color: var(--color-warning);

.PositionView {
	width: 100%;
	height: 100%;
	max-height: 100px;

	overflow: hidden;
	padding: 5px;
	background: var(--color-black--lighter);
	@include inputMixins.components--container($background: false);
	color: var(--color-white);
	position: relative;
}

.PositionView_Position {
	background: $margin_color;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.PositionView_Margin {
	background: $padding_color;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.PositionView_Padding {
	background: var(--color-black--lighter);
	width: 100%;
	height: 100%;
}

.PositionView_Content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color-gray--darker);
	color: gray;
}

.PositionView_Info {
	width: 100%;
	padding: var(--size-xs);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--size-lg);

	position: absolute;
	bottom: 0;
	left: 0;

	background: rgba(0, 0, 0, 0.5);
	font-size: var(--font-size-sm);
	backdrop-filter: blur(5px);
}

.Info_Padding::after,
.Info_Margin::after {
	content: ' ';
	display: inline-block;
	margin-left: var(--size-sm);
	width: var(--size-sm);
	height: var(--size-sm);

	border-radius: 50%;
}

.Info_Padding::after {
	background: $padding_color;
}

.Info_Margin::after {
	background: $margin_color;
}
