@use '../../../../../../mixins/mixins.module.scss' as inputMixins;

.StylesEditorValueFunction {
	@include inputMixins.components--flex-horizontal($align: center);

	// Function Change Dropdown
	:global(.FunctionSelect) {
		flex: 0 0 auto;
		:global(.FunctionSelectToggle) {
			@include inputMixins.components--button-dropdown($isRound: true);
		}
	}
}

.StylesEditorValueFunction__Separator {
	color: var(--color-gray);
	font-size: var(--font-size-2xl);
}
