@use '../../../../../mixins/mixins.module.scss' as inputMixins;

.FunctionValue {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--size-md);

	*[title*='Change Function'] {
		font-size: var(--font-size-md);

		padding: var(--size-xs);
		min-width: auto;
		aspect-ratio: 1;
		border-radius: 50%;
		&::before,
		&::after {
			content: none;
		}
	}
}

.Separator {
	color: var(--color-gray);
}
