$offset: 40px;

.ViewportEditor {
	width: calc(100% - $offset);
	height: calc(100% - $offset);

	position: fixed;
	top: $offset;
	left: $offset;

	// Grid dot pattern
	background-image: radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
	background-size: 30px 30px;

	overflow: hidden;
	z-index: 10;
}

.Content {
	padding: var(--size-lg);
	overflow: hidden;
}

.Empty {
	color: var(--color-white);
	text-align: center;
}
