:root {
  --font-size-sm: 9px;
  --font-size-md: 11px;
  --font-size-lg: 12.5px;
  --font-size-xl: 13.5px;
  --font-size-2xl: 15px;


  --color-warning: rgb(255, 141, 2);

  --color-error--light: rgb(190, 0, 0);
  --color-error: rgb(144, 0, 0);
  --color-error--dark: rgb(86, 0, 0);

  --color-success: rgb(0, 108, 0);
  --color-info: rgb(0, 82, 133);

  --color-white: rgb(255, 255, 255);
  --color-white--darker: rgb(200 200 200);

  --color-gray: rgb(150 150 150);
  --color-gray--darker: rgb(100 100 100);

  --color-black--lighter: rgb(50 50 50);
  --color-black: rgb(0 0 0);



  --size-xs: 2.5px;
  --size-sm: 5px;
  --size-md: 10px;
  --size-lg: 15px;
  --size-xl: 20px;
  --size-2xl: 25px;






  --theme-background-color--primary: #181826;
  --theme-background-color--secondary: #13131e;
  --theme-background-color--tertiary: #212132;
  --theme-background-color--quaternary: #2e2e44;

  --theme-background-color--hover: var(--theme-background-color--tertiary);
  --theme-background-color--selected: #2e2e44;
  --theme-background-color--focus: var(--color-gray--darker);
  --theme-background-color--active: var(--color-gray);


  --theme-shadow--hover: 0px 0px 0px 2px var(--theme-background-color--selected) inset;
  --theme-shadow--border: 0px 0px 0px 2px var(--theme-background-color--tertiary) inset;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track-piece {
  background: var(--color-white)
}

::-webkit-scrollbar-thumb {
  background: var(--color-white--darker);
}