:root {
  --font-size-sm: 9px;
  --font-size-md: 11px;
  --font-size-lg: 12.5px;
  --font-size-xl: 13.5px;
  --font-size-2xl: 15px;

  --color-warning: rgb(255, 141, 2);

  --color-error--light: rgb(190, 0, 0);
  --color-error: rgb(144, 0, 0);
  --color-error--dark: rgb(86, 0, 0);

  --color-success: rgb(0, 108, 0);
  --color-info: rgb(0, 82, 133);

  --color-white: rgb(255, 255, 255);
  --color-gray: rgb(150 150 150);
  --color-black: rgb(0 0 0);

  --size-xs: 2.5px;
  --size-sm: 5px;
  --size-md: 10px;
  --size-lg: 15px;
  --size-xl: 20px;
  --size-2xl: 25px;

  --theme-color-primary: #1c1c1c;
  --theme-color-primary-shade: #282828;
  --theme-color-primary-tint: #2d2d2d;

  --theme-color-secondary: #1875fe;
  --theme-shadow-border: 0px 0px 0px 1px #323232 inset;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  user-select: none;

  scrollbar-color: #444 #ffffff00;
  scrollbar-width: thin;
}

a {
  color: inherit;
  text-decoration: none;
}