@use '../mixins/mixins.module.scss' as inputMixins;

.main {
	height: 100vh;
	width: 100vw;

	overflow: hidden;
	background: var(--theme-color-primary-tint);

	letter-spacing: 1px;
	font-family: 'Geist';

}
