.ExpandReveal {
	width: 100%;
}

.Button {
	width: 100%;
	height: auto;

	position: relative;
	border: 0;
	outline: 0;
	background: transparent;
	cursor: pointer;
}

.Content {
	padding-bottom: var(--size-md);
	padding-top: var(--size-lg);


	display: flex;
	flex-direction: column;
	gap: var(--size-lg);
}
