@use '../../../mixins//mixins.module.scss' as inputMixins;

.FlexView {
	width: 100%;
	min-width: 80px;
	height: 80px;

	overflow: hidden;

	padding: 5px;

	position: relative;

	background: var(--color-black--lighter);
	@include inputMixins.components--container($background: false);
}

.FlexView_Dots {
	width: 100%;
	height: 100%;
	padding: var(--size-sm);
	aspect-ratio: 1/1;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: var(--size-md);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 0;
}

.Flexview_Dot {
	position: relative;

	&::after {
		content: '';
		display: block;

		width: var(--size-xs);
		height: var(--size-xs);

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		background: var(--color-gray);
		border-radius: 50%;
	}
}

.FlexView_Box {
	height: auto;
	min-height: 10px;
	width: 10px;
	background: var(--color-white);

	z-index: 0;

	// &[data-index='1'] {
	// 	background: var(--color-success);
	// }

	&[data-index='2'] {
		min-height: 15px;
		width: 15px;
		background: var(--color-info);
	}

	&[data-index='3'] {
		min-height: 20px;
	}
}
