.Group {
	display: grid;
	align-items: flex-start;
	gap: var(--size-lg);
	position: relative;

	:global(.DividerReveal) {
		grid-column: 1/-1;
	}

	:global(.HorizontalDivider) {
		grid-column: 1/-1;
		margin-top: var(--size-2xl);
	}
}

.Content {
	padding-bottom: var(--size-md);
	padding-top: var(--size-lg);

	display: grid;
	gap: var(--size-lg);
}