@use '../../../mixins/mixins.module.scss' as inputMixins;

.Input {
	width: 100%;
	text-align: left;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	-moz-appearance: textfield;
	appearance: textfield;
	@include inputMixins.components--input;
}

.ErrorMessage {
	width: max-content;

	font-size: var(--size-md);
	word-break: keep-all;
	text-wrap: nowrap;

}

.ErrorIcon{
	color: var(--color-error);
	padding-right: var(--size-sm);
	font-size: var(--font-size-md);
}
