.Number {
	position: relative;
	// max-width: 50px;

	&[data-has-dropdown='true'] {
		max-width: 100px;

		:global(.NumberInput) {
			padding-right: 40%;
		}
	}

	:global(.NumberInput) {
		width: 100%;
	}

	:global(.NumberDropdown) {
		width: 40%;
		height: 80%;
		position: absolute;
		top: 10%;
		right: 2%;

		:global(.NumberDropdownToggle) {
			height: 100%;

			svg {
				width: 10px;
				height: 10px;
			}
		}
	}
}
