@use '../../../../mixins/mixins.module.scss' as inputMixins;
.Blocks {
	font-size: var(--size-font-md);

	> *[class*='FloatReveal'] {
		padding: var(--size-sm);

		[class*='ActionGroup'] {
			gap: var(--size-sm);
			button {
				@include inputMixins.components--button;
				aspect-ratio: 1;
			}

			svg {
				width: 15px;
				height: 15px;
				fill: #201d1d;
			}
		}
	}

	*[id*='block'] {
		&[data-is-selected='false'] {
			opacity: 0.5;
		}

		&[data-is-selected='true'],
		&[data-has-selected-descendant='true'] {
			opacity: 1;
		}
	}
}
