@use '../../../../mixins/mixins.module.scss' as inputMixins;
.Blocks {
	width: 100%;
	height: 100%;

	*[id*='block'] {
		outline: none;
		&[data-is-selected='false'] {
			opacity: 0.65;
		}

		&[data-is-selected='true'],
		&[data-has-selected-descendant='true'] {
			opacity: 1;
		}

		&[data-is-selected='true'] {
			box-shadow: 0px 0px 0px 2px var(--theme-color-secondary) !important;
		}
	}
}
.BlockActions {
	@include inputMixins.components--container($background: var(--theme-color-primary));

	position: fixed;
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);

	width: 300px;

	svg {
		max-width: 15px !important;
		max-height: 15px !important;
	}
}

.ActionsDivider {
	width: 1px;
	height: 20px;
	background: var(--color-white);
	opacity: 0.5;
}
