.LeftPanel {
	grid-row: 1 / -1;
	grid-column: 1;
	width: 250px;

	overflow: hidden;

	position: relative;

	border-radius: var(--size-md);
	background: var(--theme-background-color--primary);
	box-shadow: var(--theme-shadow--border);
}
