@mixin states($hover: true, $focus: true, $active: true, $selected: true, $open: false, $svg: false) {
	@if $hover {
		&:hover {
			background: var(--color-hover);
		}
	}

	@if $focus {
		&:focus {
			background: var(--color-focus);
			color: var(--color-white);
			@if $svg {
				svg path {
					fill: var(--color-white);
				}
			}
		}
	}

	@if $active {
		&:active {
			background: var(--color-active);
			color: var(--color-white);
			@if $svg {
				svg path {
					fill: var(--color-white);
				}
			}
		}
	}

	@if $selected {
		&[data-selected='true'] {
			color: var(--color-white);
			background: var(--color-selected);
			box-shadow: inset 0px 0.5px 2px 1px rgb(0 0 0 / 40%);
			@if $svg {
				svg path {
					fill: var(--color-white);
				}
			}
		}
	}

	@if $open {
		&[data-isopen='true'] {
			color: var(--color-white);
			background: var(--color-selected);
			box-shadow: inset 0px 0.5px 2px 1px rgb(0 0 0 / 40%);

			@if $svg {
				svg path {
					fill: var(--color-white);
				}
			}
		}
	}

	@if $error {
		&[data-iserror='true'] {
			border-bottom: 3px solid var(--color-error);
		}
	}
}

// This mixin is used for float components
// E.g DropdownReveal,DropdownSelect in Style Editor
@mixin components--float {
	border-radius: var(--size-sm);
	box-shadow: var(--shadow-outset);

	cursor: default;

	@if $background {
		background: var(--color-white);
	}
}

@mixin components--button {
	min-height: 25px;
	padding: var(--size-sm);

	outline: none;
	border: none;
	border-radius: var(--size-sm);
	background: $background;
	box-shadow: var(--theme-shadow-border);

	color: var(--color-white);
	font-size: var(--font-size-sm);
	text-align: center;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	-moz-appearance: textfield;
	appearance: textfield;

	@include states();

	&[data-is-error='true'] {
		border-bottom: 3px solid var(--color-error);
	}

	&:active {
		box-shadow: var(--shadow-inset);
	}
}

@mixin components--input {
	min-height: 25px;
	padding: var(--size-sm) var(--size-md);

	border: none;
	outline: none;
	border-radius: var(--size-sm);
	background: var(--color-white);
	box-shadow: var(--shadow-inset);
	font-size: var(--font-size-md);

	@include states($selected: false);
}

@mixin components--option {
	min-height: 20px;
	padding: 0 var(--size-sm);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--size-xs);
	outline: none;
	border-radius: $radius;
	border: none;

	background: $background;

	font-size: var(--font-size-sm);
	color: var(--color-white);
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	@include states;

	svg {
		width: 15px;
		height: 15px;
	}
}

@mixin icon-arrow {
	&::after {
		content: '';
		width: 7px;
		height: 5px;
		display: block;

		// position: absolute;
		// top: 53%;
		// right: var(--size-sm);

		transform: translateY(-50%);

		clip-path: polygon(50% 100%, 0 0, 100% 0);
		background: var(--color-white);

		transition: all 0.5s;
		position: absolute;
		right: 5%;
	}

	&[data-is-open='true'] {
		&::after {
			clip-path: polygon(50% 0, 0 100%, 100% 100%);
			background: var(--color-white);
		}
	}
}
