@mixin states($hover: true, $focus: true, $active: true, $selected: true, $open: false, $svg: false, $error: false) {
	@if $hover {
		&:hover {
			background: var(--color-hover);
		}
	}

	@if $focus {
		&:focus {
			background: var(--color-focus);
			color: var(--color-white);
			* {
				color: var(--color-white);
			}

			@if $svg {
				svg [fill]:not([fill='none']) {
					fill: var(--color-white);
				}
			}
		}
	}

	@if $active {
		&:active {
			background: var(--color-active);
			color: var(--color-white);

			* {
				color: var(--color-white);
			}
			@if $svg {
				svg path {
					fill: var(--color-white);
				}
			}
		}
	}

	@if $selected {
		&[data-selected='true'] {
			color: var(--color-white);
			background: var(--color-selected);
			box-shadow: inset 0px 0.5px 2px 1px rgb(0 0 0 / 40%);
			@if $svg {
				svg [fill]:not([fill='none']) {
					fill: var(--color-white);
				}
			}
		}
	}

	@if $open {
		&[data-isopen='true'] {
			color: var(--color-white);
			background: var(--color-selected);
			box-shadow: inset 0px 0.5px 2px 1px rgb(0 0 0 / 40%);

			@if $svg {
				svg path {
					fill: var(--color-white);
				}
			}
		}
	}

	@if $error {
		&[data-iserror='true'] {
			border-bottom: 3px solid var(--color-error);
		}
	}
}

@mixin components--container($background: true) {
	border: none;
	outline: none;
	border-radius: var(--size-sm);
	border: var(--border-generic);

	cursor: default;

	@if $background {
		background: var(--color-white);
	}
}

@mixin components--button {
	height: 25px;
	padding: var(--size-sm);

	outline: none;
	border-radius: var(--size-sm);
	background: var(--color-white);
	border: var(--border-generic);

	font-size: var(--font-size-sm);
	text-transform: uppercase;
	cursor: pointer;

	@include states($open: true, $svg: true);
}

@mixin components--input {
	height: 25px;

	padding: var(--size-sm) var(--size-md);

	border: none;
	outline: none;
	border-radius: var(--size-sm);
	background: var(--color-white);
	border: var(--border-generic);

	* {
		font-size: var(--font-size-md);
	}

	@include states($error: true);
}

@mixin components--option {
	min-height: 20px;
	padding: 0 var(--size-sm);
	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	outline: none;
	background: transparent;
	border-radius: var(--size-sm);

	font-size: var(--font-size-sm);
	color: var(--color-black);
	text-transform: uppercase;

	cursor: pointer;
	@include states($selected: true, $svg: true);

	svg {
		max-width: 15px;
		max-height: 15px;

		[fill]:not([fill='none']) {
			fill: var(--color-black);
		}
	}
}

@mixin icon-arrow {
	&::after {
		content: '';
		width: 7px;
		height: 5px;
		margin-top: 5px;
		margin-left: 5px;
		display: block;

		transform: translateY(-50%);

		clip-path: polygon(50% 100%, 0 0, 100% 0);
		background: var(--color-black);

		transition: all 0.5s;
		position: absolute;
		right: 5%;
	}

	&[data-isopen='true'] {
		&::after {
			clip-path: polygon(50% 0, 0 100%, 100% 100%);
			background: var(--color-white);
		}
	}
}
