.Container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-lg);
	padding: var(--size-lg);
}

.Devices {
	display: flex;
	flex-direction: row;
	gap: var(--size-2xl);
}

.Category {
	display: flex;
	flex-direction: column;
	gap: var(--size-lg);
	justify-content: flex-start;
	align-items: flex-start;
}

.Device {
	display: flex;
	flex-direction: column;
}

.Divider {
	color: var(--color-white);
	opacity: 0.2;
}

.Header {
	font-size: var(--font-size-2xl);
	color: var(--color-gray);
	text-transform: capitalize;
}
