.KeywordValue {
	&[data-type='radio'] {
		overflow: hidden;
		min-width: 25px;

		// > :global(.RadioSelect) {
		// 	width: 100%;
		// }
	}

	// &[data-type='dropdown'] {
	// 	> :global(.DropdownSelect) {
	// 		width: 100%;
	// 		min-width: 40px;
	// 	}
	// }
}
