@use '../../mixins/mixins.module.scss' as inputMixins;

.LayoutEditor {
	width: 100%;
	height: 100%;
}

.Bar {
	grid-column: 1;
	grid-row: 2/-1;

	width: 40px;
	height: calc(100% - 40px);
	position: fixed;
	top: 40px;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;

	@include inputMixins.components--container($radius: 0, $background: var(--theme-color-primary), $shadow: none);

	border-top: 1px solid var(--theme-color-primary-tint);
	padding-top: var(--size-lg);

	:global(.LayoutEditorBarActionGroup) {
		gap: var(--size-lg);
		button svg {
			max-width: 20px;
			max-height: 20px;
		}
	}
}
