@use '../../../../mixins//mixins.module.scss' as inputMixins;

.BlockList {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	gap: var(--size-md);
	padding: var(--size-md);
}

.BlockButtonContainer {
	width: 20%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--size-sm);
}

.BlockButton {
	@include inputMixins.components--button();

	height: auto;
	width: 100%;
	aspect-ratio: 1/1;

	svg {
		max-height: 100%;
		max-width: 100%;

		width: 85%;
		height: 85%;

		* {
			fill: #474663 !important;
		}
	}
}

.BlockButtonTitle {
	text-transform: capitalize;
	font-size: var(--font-size-sm);
	color: var(--color-white);
}
