@use '../../../../mixins//mixins.module.scss' as inputMixins;

.BlockList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--size-md);
}

.BlockButtonContainer {
	width: 30%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--size-sm);
}

.BlockButton {
	padding: var(--size-md);

	@include inputMixins.components--button($background: false, $radius: var(--size-lg), $shadow: 0px 0px 2px 2px var(--theme-background-color--secondary) inset);

	background: var(--theme-background-color--quaternary);
	height: auto;
	width: 100%;
	aspect-ratio: 1/1;
}

.BlockButtonTitle {
	text-transform: capitalize;
	font-size: var(--font-size-sm);
	color: var(--color-white);
}
