@use '../../../mixins/mixins.module.scss' as inputMixins;

.StringInput {
	width: 100%;
	text-align: center;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	-moz-appearance: textfield;
	appearance: textfield;
	@include inputMixins.components--input;

	transition: border-color 0.3s;
}

.isError {
	border-color: #ff4d4f;
	box-shadow:  0 0 4px 4px rgba(255, 77, 79, 0.2);
}

.isError:focus {
	// border-color: #ff7875;
}
