@use '@/src/shared/styles/mixins/mixins.module.scss' as inputMixins;

.BlockView {
	width: 100%;
	height: 100%;

	*[id*='block'] {
		outline: none;

		&[data-is-selected='true'] {
			box-shadow: 0px 0px 0px 2px var(--theme-color-secondary) !important;
		}
	}
}

.Header {
	font-size: var(--font-size-2xl);
	color: var(--color-gray);
	text-transform: capitalize;
	padding-bottom: var(--size-sm);
}
