@use '@/src/shared/styles/mixins/mixins.module.scss' as inputMixins;

.BlockView {
	width: 100%;
	height: 100%;

	*[id*='block'] {
		outline: none;
		&[data-is-selected='false'] {
			opacity: 0.65;
		}

		&[data-is-selected='true'],
		&[data-has-selected-descendant='true'] {
			opacity: 1;
		}

		&[data-is-selected='true'] {
			box-shadow: 0px 0px 0px 2px var(--theme-color-secondary) !important;
		}
	}
}