.RightPanel {
    grid-row: 1 / -1;
    grid-column: 3 / -1;

	width: 300px;
	overflow: hidden;

	border-radius: var(--size-md);
	background: var(--theme-background-color--primary);
	box-shadow: var(--theme-shadow--border);
}
