.Group {
	display: grid;
	grid-template-columns: var(--group-columns);
	grid-template-rows: var(--group-rows);

	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--size-md);

	position: relative;

	[class*='ExpandReveal'] {
		grid-column: 1/-1;
	}

	[class*='ExpandReveal_Content'] {
		display: grid;
		grid-template-columns: var(--group-columns);
		grid-template-rows: var(--group-rows);

		justify-content: flex-start;
		align-items: flex-start;
		gap: var(--size-md);
	}
	.Group {
		padding: 0;
	}

	
}

