.Group {
	display: grid;
	align-items: flex-start;
	gap: var(--size-lg);
	position: relative;

	[class*='ExpandReveal'] {
		grid-column: 1/-1;
	}

	[class*='HorizontalDivider'] {
		background: transparent;
		box-shadow: var(--theme-shadow--border);
		grid-column: 1/-1;
		margin-top: var(--size-2xl);

		&::after {
			background: var(--theme-background-color--primary) !important;
			color: var(--theme-background-color--tertiary) !important;
		}
	}

	.Group {
		padding: 0;
	}
}
