.DimensionValue {
	position: relative;
	max-width: 100px;

	[class*='GenericInput'] {
		width: 100%;
		padding-right: 40%;
	}

	[class*='DropdownReveal'] {
		width: 40%;
		position: absolute;
		right: 0;
		top: 0;

		[class*='Toggle'] {
			svg {
				width: 10px;
				height: 10px;
			}
		}
	}
}
