.DimensionValue {
	min-width: 65px;
	min-height: 25px;

	display: grid;
	position: relative;

	[class*='GenericInput'] {
		width: 80px;
		padding-right: 35px;
		padding-left: 5px;
	}

	[class*='DropdownReveal'] {
		width: 35px;
		position: absolute;
		right: 0;
	}
}
