.DimensionValue {
	width: 100%;
	min-width: 60px;
	min-height: 25px;

	display: grid;
	position: relative;

	[class*='DropdownReveal'] {
		position: absolute;
		right: 0;
	}
	
	[class*='GenericInput'] input {
		padding-right: var(--size-xl);
	}
}
