.DimensionValue {
	position: relative;


	[class*='GenericInput'] {
		width: 70px;
		padding-right: 50%;
		padding-left: 5px;
	}

	[class*='DropdownReveal'] {
		width: 35px;
		position: absolute;
		right: 0;
		top: 0;
		opacity: 1;
	}

	&[data-is-collapsed='true'] {
		[class*='GenericInput'] {
			width: auto;
			min-width: auto;
			padding: 0;
		}

		[class*='DropdownReveal'] {
			opacity: 0;
		}
	}

	> * {
		transition: all 0.25s;
	}
}
