@use '@/src/shared/styles/mixins/mixins.module.scss' as inputMixins;

.Page {
	width: 100%;
	height: 100%;
}

.Toolbar {
	height: 40px;
	width: 100%;

	z-index: 1;

	@include inputMixins.components--container($radius: 0, $background: var(--theme-color-primary), $shadow: none);
	@include inputMixins.components--flex-horizontal($align: center);
}
