@use '../../../../../mixins/mixins.module.scss' as inputMixins;

.Error {
	@include inputMixins.components--button;

	gap: var(--size-sm);

	color: var(--color-white);
	background: var(--color-error);
	
}

.ErrorMessage {
	font-size: var(--font-size-lg);
}
