@use '@/src/shared/styles/mixins/mixins.module.scss' as inputMixins;

.Viewport {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	overflow: hidden;
	z-index: 10;

	position: relative;
}

.View {
	overflow: hidden;
	width: 100%;
	height: 100%;

	background-image: radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
	background-size: 30px 30px;
}

.Scene {
	overflow: hidden;
	width: max-content;
	height: max-content;
}

.Toolbar {
	width: max-content;
	height: 35px;

	top: 0;
	left: 50%;

	margin-top: 10px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: var(--size-md);
	z-index: 1;

	@include inputMixins.components--container($position: absolute, $radius: 0, $background: var(--theme-color-primary), $shadow: none);

	border-top: 1px solid var(--theme-color-primary-tint);

	:global(.RadioSelect) {
		background: transparent !important;
		border: none !important;
		box-shadow: none !important;
	}

	:global(.DropdownSelect .Toggle) {
		background: transparent;
	}

	.Divider {
		height: 80%;
		border-left: 1px solid var(--color-white);
		opacity: 0.2;
	}
}

.Empty {
	color: var(--color-white);
	text-align: center;
}
