.HorizontalDivider {
	width: 100%;
	height: 1px;
	margin: var(--size-md) 0;
	position: relative;

	border: 0;
	outline: 0;

	background: var(--color-white--darker);

	&[data-type='bracket'] {
		&::after {
			content: '| |';
			width: max-content;
			padding: var(--size-sm);
			display: block;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			font-size: calc(var(--size-lg) * 0.8);

			color: var(--color-white--darker);
			background: var(--color-white);
		}
	}
}
