@use '../../mixins/mixins.module.scss' as inputMixins;

.BottomPanel {
	margin-bottom: var(--size-md);
	grid-row: 3;
	grid-column: 2;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;

	button {
		@include inputMixins.components--button;
	}
}
