@use '../../../mixins/mixins.module.scss' as inputMixins;

.VariantInput {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr;
	gap: var(--size-lg);

	position: relative;
}

.CycleButton {
	@include inputMixins.components--button;

	position: absolute;
}
