@use '../../../mixins/mixins.module.scss' as inputMixins;

.VariantInput {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--size-sm);

	position: relative;
}

.CycleButton {
	@include inputMixins.components--button;

	position: absolute;
}

.Separator {
	opacity: 0.3;
}
