@use '../../../mixins/mixins.module.scss' as inputMixins;

.VariantInput {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--size-sm);

	position: relative;

	& > *:not(button) {
		flex: 1;
	}
}

.CycleButton {
	display: none;
	@include inputMixins.components--button;

	z-index: 1;
	position: absolute;
	right: -7%;
}

.Separator {
	opacity: 0.3;
}
