.LengthInput {
	width: 100%;
	display: grid;
	min-height: 25px;

	position: relative;

	&[data-state='scalable']{
		[class$='DropdownReveal'] {
			position: absolute;
			right: 0;
		}
	}

	&[data-state='function'],
	&[data-state='var'] {
		display: block;
		> [class$='DropdownReveal'] {
			> *[class$='DropdownReveal_Window'] {
				display: grid;
				gap: var(--size-lg);
			}
		}
	}

	> [class$='NumberInput'] {
		text-align: left;
	}
}
