@use '../../../../../mixins//mixins.module.scss' as inputMixins;

.Property {
	display: grid;
	grid-column: auto;
	gap: var(--size-sm);
	grid-column: var(--property-column);
	grid-row: var(--property-row);

	&:not([data-direction='column']) {
		grid-template-rows: auto;
		&[data-label] {
			grid-template-columns: 55px auto;
		}
	}

	&[data-direction='column'] {
		grid-template-columns: auto;

		&[data-label] {
			grid-template-rows: auto auto;
		}
	}

	&[data-disabled='true'] {
		pointer-events: none;
		opacity: 0.5;
	}
}

.Property_Label {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: var(--size-sm);
	align-self: var(--property-label--align);

	position: relative;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	letter-spacing: -0.5px;
	font-size: var(--font-size-lg);
	font-weight: 500;
	font-family: 'Segoe UI';
	text-transform: capitalize;

	cursor: pointer;
}

.Property_Float__Tools {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--size-sm);

	> button {
		@include inputMixins.components--button;

		height: 100%;
		width: auto;
		aspect-ratio: 1;

		padding: 0px;
		font-size: var(--font-size-sm);
	}
}

.Property__Float__Title {
	font-size: var(--font-size-lg);
}

.Property__Float__Description {
	font-size: var(--font-size-md);
	opacity: 0.8;
}

.Property_Float__Divider {
	margin-top: 0 !important;
}
