@use '../../mixins/mixins.module.scss' as inputMixins;

.TopBar {
	grid-column: 1/-1;
	grid-row: 1;

	height: 40px;

	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;

	@include inputMixins.components--container($radius: 0, $background: var(--theme-color-primary), $shadow: none);
}

.Version {
	font-size: var(--font-size-md);
	color: var(--color-white);

	position: absolute;
	right: 1%;
	top: 50%;
	transform: translateY(-50%);
}
