@use '@/src/shared/styles/mixins/mixins.module.scss' as inputMixins;

.ColorSelect {
	@include inputMixins.components--input;
	position: relative;
	cursor: pointer;
    padding: 0;
	
}

.Input {
	height: 25px;
	border: none;
	opacity: 0;
	cursor: pointer;
}

