@use '../../../mixins//mixins.module.scss' as inputMixins;

.ButtonReveal {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.Button {
	justify-content: space-between !important;

	@include inputMixins.components--button($background: none);

	span {
		width: auto;
		display: flex;
		align-items: center;
		gap: var(--size-sm);
		overflow: hidden;
	}
}

.Arrow {
	position: absolute;
	top: 0;
	right: 0;
	@include inputMixins.components--button($background: none);
	@include inputMixins.icon-arrow();
}
