@use '../../../../../mixins//mixins.module.scss' as inputMixins;

.TextView {
	width: 100%;
	height: 100px;

	overflow: hidden;

	padding: var(--size-md);
	position: relative;
	background: var(--color-black--lighter);
	@include inputMixins.components--container($background: false);
	color: var(--color-white);
}
