@use '@/src/shared/styles/mixins/mixins.module.scss' as inputMixins;

.BlockLibrary {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: var(--size-md);

	overflow: hidden auto;
}

.BlockLibrary__Category {
	display: flex;
	flex-direction: column;
	gap: var(--size-sm);

	padding-top: var(--size-lg);
}

.BlockLibrary__CategoryTitle {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--size-sm);

	padding-bottom: var(--size-md);

	text-transform: capitalize;
	font-size: var(--font-size-md);
	color: var(--color-gray);

	border-bottom: 1px solid var(--theme-color-primary-tint);
}

.BlockLibrary__Blocks {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	gap: var(--size-md);
	padding-top: var(--size-sm);
}

.BlockLibrary__BlockContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--size-sm);
}

.BlockLibrary__BlockButton {
	@include inputMixins.components--button;

	height: auto;
	width: 100%;
	aspect-ratio: 1/1;

	svg {
		max-height: 100%;
		max-width: 100%;

		width: 85%;
		height: 85%;
	}
}

.BlockLibrary__BlockTitle {
	text-transform: capitalize;
	font-size: var(--font-size-sm);
	color: var(--color-white);
}

.BlockLibrary__Empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;

	font-size: var(--font-size-md);
	color: var(--color-gray);
	text-align: center;
}
