@use '@/src/shared/styles/mixins/mixins.module.scss' as inputMixins;

.ActionGroup {
	&[data-direction='horizontal'] {
		@include inputMixins.components--flex-horizontal($gap: var(--size-xs), $align: center, $justify: flex-start);
	}

	&[data-direction='vertical'] {
		@include inputMixins.components--flex-vertical($gap: var(--size-lg), $align: center, $justify: flex-start);
	}

	&[data-transparent='true'] button {
		@include inputMixins.components--button($background: none);
	}

	&[data-transparent='false'] button {
		@include inputMixins.components--button($background: var(--theme-color-primary));
	}
}
