@use '@/shared/styles/mixins/mixins.module.scss' as inputMixins;

.ActionGroup {
	@include inputMixins.components--flex-horizontal($gap: var(--size-xs), $align: center, $justify: flex-start);

	&[data-direction='vertical'] {
		@include inputMixins.components--flex-vertical($gap: var(--size-sm), $align: center, $justify: flex-start);
	}

	button {
		@include inputMixins.components--button($background: var(--theme-color-primary));
	}

	:global(.Divider) {
		height: 25px;
		border-left: 1px solid var(--color-white);
		opacity: 0.2;
	}
}
