@use '../../../mixins/mixins.module.scss' as inputMixins;

.AccordionGroup {
	width: 100%;

	display: flex;
	flex-direction: column;

	background: var(--color-white);
}

.AccordionGroup_Button {
	@include inputMixins.states($open: true);

	width: 100%;
	padding: var(--size-md);

	display: flex;
	justify-content: space-between;

	font-size: var(--font-size-xl);
	font-weight: 500;
	text-align: left;

	box-shadow: none !important;
	background: transparent;
	border: none;
	border-radius: 0;
	border-top: 1px solid var(--color-white--darker);

	position: relative;
	cursor: pointer;

	@include inputMixins.icon-arrow;
}

.AccordionGroup_Content {
	width: 100%;
	position: relative;
}
