@use '@/shared/styles/mixins/mixins.module.scss' as inputMixins;

.FloatReveal {
	min-width: min-content;
	max-width: 500px;

	@include inputMixins.components--flex-vertical;
	@include inputMixins.components--float($z-index: 99999999);
}
