@use '../../../mixins/mixins.module.scss' as inputMixins;

.InputToggle {
	min-width: 100px;
}

.Button {
	width: 100%;
	height: 100%;

	position: relative;
	@include inputMixins.components--button($padding: none);

	&::before {
		display: block;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&[data-is-active='true'] {
		&::before {
			content: var(--label--true);
		}
	}

	&:not([data-is-active='true']) {
		&::before {
			content: var(--label--false);
		}
	}
}

.Indicator {
	width: auto;
	height: 80%;
	aspect-ratio: 1;

	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);

	background-color: var(--color-white);
	opacity: 0.85;
	border-radius: 5px;

	&[data-is-selected='true'] {
		left: 94%;
		background-color: var(--theme-color-secondary);
	}

	&:not([data-is-selected='true']) {
		left: 6%;
	}

	transition: left 0.2s ease-in-out;
}
