@use '@/shared/styles/mixins/mixins.module.scss' as inputMixins;

.Devices {
	display: flex;
	flex-direction: column;
	gap: var(--size-2xl);
}

.Category {
	display: flex;
	flex-direction: row;
	gap: var(--size-2xl);
	flex: 1;
}

.Device {
	display: flex;
	flex-direction: column;
	padding: var(--size-sm);
	&[data-is-selected='true'] {
		outline: 3px solid var(--theme-color-secondary) !important;
		outline-offset: -3px;
	}

	&[data-is-selected='false'] {
		filter: brightness(0.8);
	}

	// &[data-is-selected='true'] {
	*[class*='block'] {
		&[data-is-selected='true'] {
			outline: 2px solid var(--theme-color-secondary) !important;
			outline-offset: -2px;
		}
	}
	// }

	.Header {
		width: 100%;
		padding: var(--size-sm);

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		font-size: var(--font-size-sm);
		color: var(--color-white);
		text-transform: capitalize;

		background: var(--theme-color-primary);

		.Title {
			font-weight: bold;
		}

		:global(.ActionGroup .DropdownReveal) {
			background: transparent;
		}
	}
}

.Divider {
	color: var(--color-white);
	opacity: 0.2;
}

.Toolbar {
	width: max-content;
	height: 35px;

	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);

	margin-top: 10px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: var(--size-md);
	z-index: 1;

	@include inputMixins.components--container($position: absolute, $radius: 0, $background: var(--theme-color-primary), $shadow: none);

	border-top: 1px solid var(--theme-color-primary-tint);

	> button {
		@include inputMixins.components--button($background: var(--theme-color-primary));
	}

	:global(.RadioSelect) {
		background: transparent !important;
		border: none !important;
		box-shadow: none !important;
	}

	:global(.DropdownSelect .Toggle) {
		background: transparent;
	}

	.Divider {
		height: 80%;
		border-left: 1px solid var(--color-white);
		opacity: 0.2;
	}
}

.Test {
	color: var(--color-white);
	margin-bottom: var(--size-md);
}
